<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col">
            Mon compte
        </section>
        <section class="col">
            Tournois sportifs
        </section>
        <section class="col">
            Nous contacter
        </section>
    <div>
</footer>