.onglet-tournois {
  display: none;
}

a {
  color: #495057;
  transition: border 0.3s ease; /* Transition de 0.3 seconde avec une courbe d'accélération "ease" */
}
a:hover {
  color: black;
  background-color: #a1a1a2;
  border-radius: 0.2rem;
}

nav {
  background-color: #f9f9f9;
}

.logo-nav {
  border-radius: 0.5rem;
  height: 4rem;
  width: auto;
}
